{
  "dev": {
    "host": "<development host>",
    "users": {
      "sculpture0-<initials>": "<password>",
      "sculpture1-<initials>": "<password>",
      "sculpture2-<initials>": "<password>",
      "anyware-<initials>": "<password>"
    }
  },
  "prod": {
    "host": "<production host>",
    "users": {
      "sculpture0": "<password>",
      "sculpture1": "<password>",
      "sculpture2": "<password>",
      "anyware": "<password>"
    }
  }
}
